body {
	background-color: white;
	color: black;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	border-width: 0;
}

img {
	border: 0;
}

ul.command {
	list-style-type: none;
	font-family: monospace;
}

.example {
	font-style: italic;
	color: #555;
}

.explanation {
	color: #555;
}

.rss a {
	color: white;
	background-color: #f70;
	font-size: smaller;
	font-weight: bold;
	text-decoration: none;
	margin-left: 4pt;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
}

#header_area {
	background-color: #3060c0;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 8pt;
}

#header {
	border-collapse: collapse;
	width: 100%;
}

#header td {
	padding-top: 0;
	vertical-align: bottom;
}

#logo {
	color: white;
	font-size: xx-large;
	padding-left: 0;
	padding-bottom: 0;
	line-height: 0;
}

#navigation {
	padding-bottom: 0;
}

#navigation ul {
	list-style-type: none;
}

#navigation li {
	float: left;
	font-size: large;
}

#navigation a {
	text-decoration: none;
	font-weight: bold;
	color: white;
	padding-left: 4pt;
	padding-right: 4pt;
}

#navigation .active a {
	background-color: white;
	color: #3060c0;
}

#content {
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 10pt;
	padding-bottom: 14pt;
}

#content h1 {
	margin: 0;
}

#footer_area {
	background-color: #ddd;
	padding-left: 3%;
	padding-right: 3%;
}

#footer {
	border-collapse: collapse;
	width: 100%;
	font-size: small;
}

#footer td {
	padding-top: 0;
	padding-bottom: 0;
	vertical-align: top;
}

#sourceforge {
	padding-left: 0;
	line-height: 0;
}

#copyright {
	float: right;
	color: gray;
	padding-left: 10pt;
}

#copyright a {
	text-decoration: none;
	color: gray;
}

#copyright a:hover {
	text-decoration: underline;
}
