code {
	padding-left: 1pt;
	padding-right: 1pt;
}

code.class a {
	color: #730;
	text-decoration: none;
	font-family: monospace;
	border-bottom: 1px dashed #730;
}

code.class a:hover {
	border-bottom: 1px solid #730;
}

code.function {
	color: #049;
}

code.parameter {
	color: #073;
}

dl {
	padding-left: 20pt;
}

dt {
	font-family: monospace;
	margin-top: 4pt;
	margin-bottom: 2pt;
}

dt code.class {
	font-weight: bold;
}

dt code.function {
	font-weight: bold;
}

dt code.parameter {
	font-weight: bold;
}
