#thumbnail a img {
	padding: 1px;
	border-width: 1px;
	border-style: dashed;
	border-color: #ccc;
	margin-left: 20pt;
	margin-bottom: 20pt;
}

#thumbnail a:hover img {
	padding: 1px;
	border-width: 1px;
	border-style: dashed;
	border-color: #999;
	margin-left: 20pt;
	margin-bottom: 20pt;
}
